@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=CF2BF0E2-41C8-4CED-8DD8-C874F705ED13

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:username=paulius.balciunas20@gmail.com
//npm.fontawesome.com/:_password=CF2BF0E2-41C8-4CED-8DD8-C874F705ED13